@model EmployeeManagement.Models.Loginmodel;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <h4 class="bg-primary text-white text-center p-2">Login</h4>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="form-group">
                <label for="Password">Email</label>
                <input asp-for="Email" type="text" class="form-control" id="Email" placeholder="Enter Email">
                <span asp-validation-for="Email" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label for="Name">Password</label>
                <input asp-for="Password" type="text" class="form-control" id="Password" placeholder="Enter Password">
                <span asp-validation-for="Password" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-check-label" for="Remember me">Remember me</label>&nbsp;<input class="" type="checkbox" id="Remember me" asp-for="Rememberme"/>

            </div>
            <a asp-controller="account" asp-action="ResetPassword" class="text-primary">Forgot/ResetPassword??</a>
            <div>
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="All" class="border-danger text-danger"></div>

        </form>
    </div>
</body>
</html>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
