@model EmployeeManagement.Models.Department;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3 class="text-center">Add Department</h3>
    <form asp-action="Create" asp-controller="Department" method="post">


        <div class="form-group">
            <label for="Name">Department Name</label>
            <input asp-for="Department_name" type="text" class="form-control" id="Name" placeholder="Enter Name" required>
            <span asp-validation-for="Department_name" class="alert-danger"></span>
        </div><br />
        <input type="submit" value="Create" class="btn btn-primary" />








    </form>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}