@model EmployeeManagement.Models.ResetViewModel;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h4 class="bg-warning  text-center text-white p-2">Verify Email</h4>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div class="form-group">
            <label for="ResetEmail">Email</label>
            <input asp-for="Email" type="text" id="ResetEmail"/>

        </div>
        <input type="submit" class="btn btn-warning" value="Verify" />  
        
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</body>
</html>